BACKEND_PORT=3000
ASR_MAX_CHUNK_MS=30000
ASR_QUEUE_CONCURRENCY=2
FRONTEND_PORT=5173
WORKER_PORT=8000
FRONTEND_ORIGIN=http://localhost:5173
WORKER_BASE_URL=http://localhost:8000
WORKER_REQUEST_TIMEOUT_MS=3600000
WORKER_ALLOWED_AUDIO_HOSTS=localhost,127.0.0.1
WORKER_FFMPEG_PATH=ffmpeg
WORKER_FFMPEG_TIMEOUT_SECONDS=3600
WORKER_ASR_MODEL_SIZE=large-v3-turbo
WORKER_ASR_DEVICE=cpu
WORKER_ASR_COMPUTE_TYPE=int8
WORKER_ASR_BEAM_SIZE=3
WORKER_ASR_BATCH_SIZE=4
WORKER_ASR_VAD_FILTER=true
WORKER_ASR_VAD_THRESHOLD=0.25
WORKER_ASR_VAD_FALLBACK_RATIO=0.15
WORKER_ASR_VAD_MIN_SILENCE_MS=300
WORKER_ASR_VAD_SPEECH_PAD_MS=150
WORKER_ASR_CPU_THREADS=0
WORKER_ASR_NUM_WORKERS=2
WORKER_ASR_CACHE_DIR=/private/tmp/kid-audio-asr-cache
WORKER_ASR_CACHE_TTL_SECONDS=21600
WORKER_ASR_MIN_WORD_PROBABILITY=0
WORKER_ASR_LANGUAGE_PROBABILITY_THRESHOLD=0.6
WORKER_ACOUSTIC_MODEL_PATH=models/audio-tagging/model.int8.onnx
WORKER_ACOUSTIC_LABELS_PATH=models/audio-tagging/class_labels_indices.csv
WORKER_ACOUSTIC_WINDOW_MS=10000
WORKER_ACOUSTIC_MIN_PROBABILITY=0.35
WORKER_HEALTH_WINDOW_MS=2000
WORKER_HEALTH_HOP_MS=500
WORKER_HEALTH_COUGH_MIN_PROBABILITY=0.35
WORKER_HEALTH_WHEEZE_MIN_PROBABILITY=0.25
WORKER_HEALTH_GASP_MIN_PROBABILITY=0.25
WORKER_HEALTH_MERGE_GAP_MS=750

MONGODB_URI=mongodb://localhost:57017/kid_audio
REDIS_HOST=localhost
REDIS_PORT=56379

S3_ENDPOINT=http://localhost:59000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=kid-audio-local
S3_SECRET_ACCESS_KEY=kid-audio-local-secret
S3_BUCKET=kid-audio
S3_FORCE_PATH_STYLE=true
S3_CONFIGURE_BUCKET_CORS=false
UPLOAD_URL_TTL_SECONDS=900
READ_URL_TTL_SECONDS=900
MAX_AUDIO_SIZE_BYTES=10737418240
FFPROBE_PATH=ffprobe
FFPROBE_TIMEOUT_MS=120000
SCAN_WINDOW_MS=30000
SCAN_OVERLAP_MS=2000
VAD_MODE=2
LOGICAL_TRIM_MAX_GAP_MS=500
LOGICAL_TRIM_CONTEXT_BEFORE_MS=250
LOGICAL_TRIM_CONTEXT_AFTER_MS=400
LOGICAL_TRIM_MIN_REGION_MS=500
